@model MusicStore.ViewModels.LoginViewModel
@{
    ViewBag.Title = "新用户注册";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>注册</h2>
@using (Html.BeginForm("register", "account", FormMethod.Post))
{ @Html.AntiForgeryToken()
   
}
