*{
    margin: 0;
    padding: 0;
}
.title{
    width: 90%;
    height: 30px;
    background-color: #eeeeee;
    margin: 0 auto;
}
.log{
    width: 20px;
    height: 20px;
}
.content{
    width: 90%;
    margin: 0 auto;
}
<<<<<<< HEAD
.im{
    border-radius: 5px;
    widows: 150px;
    height: 150px;
}
=======
.vide{
    width: 800px;
    height: 800px;
}
>>>>>>> bb55fe7b5874b60f67116b12790f3e9b582179a2
